name: Test

on: [push]

env:
  DEVELOPER_DIR: /Applications/Xcode_13.0.app

jobs:
  ci:
    runs-on: macOS-11
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cache BuildTools
      id: cache-buildtools
      uses: actions/cache@v2
      with:
        path: '**/.build'
        key: ${{ runner.os }}-spm-build-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-build
    - name: Init
      run: make init
    - name: Lint
      run: make lint
    - name: Test
      run: make test
